.headerDiv {
    position: fixed;
    width: 100%;
    padding: 24px 48px;
    background-color: rgb(223, 223, 223, 0.8);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.headerLogo {
    cursor: pointer;
}

.phoneDiv {
    display: flex;
    align-items: center;
    gap: 4px;
}



.headerRoutes {
    display: flex;
    align-items: center;
    gap: 40px;
}

.phoneDiv:hover {
    scale: 1.1;
    transition: 0.4s linear;
}