.main_div {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
    background-image: url(/images/bn.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.list_div {
    margin-top: 100px;
    padding-inline: 200px;
    display: flex;
    justify-content: center;
    gap: 24px;
    flex-wrap: wrap;
}

.list_product {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ac7474;
    opacity: 0.9;
    color: white;
    padding: 30px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    height: 150px;
    width: 200px;
}