.container {
    width: 100%;
    margin: 0 auto;
}

.insideDiv {
    margin-top: 100px;
    display: flex;
    gap: 32px;
}

.backgroundImage {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(rgba(41, 37, 37, 0.4), rgba(34, 28, 28, 0.4)), url(/images/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 400px;
}

.homePageButton,
.homePageButton1,
.homePageButton2 {
    padding: 18px 63px;
    font-size: 26px;
    font-weight: 600;
    color: rgb(50, 41, 41);
    background-color: rgb(223, 223, 223, 0.45);
    border: none;
    border-radius: 8px;
    cursor: pointer;
    letter-spacing: 2px;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.homePageButton1 {
    animation-name: slideInFromLeft;
}

.homePageButton2 {
    animation-name: slideInFromRight;
}

.homePageButton {
    animation-name: slideInFromBottom;
}

.homePageButton:hover {
    transition: 0.5s ease-out;
    background-color: #ac7474;
    scale: 1.03;
}

.homePageButton1:hover {
    transition: 0.5s ease-out;
    background-color: #ac7474;
    scale: 1.03;
}

.homePageButton2:hover {
    transition: 0.5s ease-out;
    background-color: #ac7474;
    scale: 1.03;
}

.serviceDiv,
.projects {
    margin: 64px 32px;
}

.serviceDiv_title,
.projects_title {

    font-size: 24px;
    font-weight: bold;

}

.serviceDiv_text {

    margin-top: 64px;
    font-size: 18px;
    line-height: 0.7cm;
}

@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromRight {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideInFromBottom {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}